<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - PlanetBooks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <main class="d-flex flex-nowrap">
        <div th:insert="fragments/Sidebar :: Sidebar"></div>

          <div class="main-content">

            <div class="container mt-4">
                    <section class="text-start">
                            <h2 class="display-4 fw-bold mb-4 text-balance"> 
                                <svg class="bi me-1" width="60" height="60" fill="currentColor">
                                    <use xlink:href="#people-circle"/>
                                </svg>
                                    Clients
                            </h2>
                            <div class="d-flex align-items-center justify-content-between flex-wrap mb-4">
                                <div>
                                    <span class="fw-bold fs-5 d-block mb-1">Clients List</span>
                                    <small class="text-muted">
                                        <span>Total Registered Clients: (Num)</span>
                                        <span class="ms-3">Total Non-Registered Clients: (Num)</span>
                                    </small>
                                </div>
                                <div class="d-flex align-items-center gap-2 flex-wrap">
                                    <input type="text" class="form-control w-auto" placeholder="Search customers...">
                                    <button class="btn btn-success w-auto">Filter</button>
                                    <button class="btn btn-secondary w-auto" onclick="window.location.href='/clients_deleted'">
                                        View Deleted
                                    </button>
                                </div>
                                
                            </div>
                    </section>
                <!-- clients table-->
                <div class="table-responsive">
                    <table class="table table-striped table-hover text-center">
                         <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Father's Last Name</th>
                            <th>Mother's Last Name</th>
                            <th>Age</th>
                            <th>User</th>
                            <th>Email</th>
                            <th>Country</th>
                            <th>Registration Date</th>
                            <th>Purchases</th>
                            <th>Sessions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                        <tbody>
                        <tr th:each="client : ${clients}">
                            <td th:text="${client.id}"></td>
                            <td th:text="${client.name}"></td>
                            <td th:text="${client.last_name_father}"></td>
                            <td th:text="${client.last_name_mother}"></td>
                            <td th:text="${client.age}"></td>
                            <td th:text="${client.user}"></td>
                            <td th:text="${client.email}"></td>
                            <td th:text="${client.country}"></td>
                            <td th:text="${client.registration_date}"></td>
                            <td th:text="${client.purchases}"></td>
                            <td th:text="${client.sessions}"></td>

                            <td>
                                <a th:href="@{/clients/edit/{id}(id=${client.id})}"
                                   class="btn btn-primary btn-sm">Edit</a>

                                <a th:href="@{/clients/delete/{id}(id=${client.id})}"
                                   class="btn btn-danger btn-sm"
                                   onclick="return confirm('Are you sure you want to delete this client?');">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
